<div class="container">
  <form id="contact_form" [formGroup]="joinForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label class="col-form-label" for="{{ fullname }}">Imię i nazwisko:</label>
        <div class="col-md-5">
          <input class="form-control" formControlName="applicant_name" id="{{ fullname }}"/>
        </div>
      <label class="col-form-label ml-auto" for="{{ email }}">Email:</label>
        <div class="col-md-5">
          <input class="form-control" formControlName="applicant_email" id="{{ email }}"/>
        </div>
      </div>
    <div class="form-group row">
      <label class="col-form-label ml-auto" for="{{ phone }}">Telefon:</label>
        <div class="col-md-5">
          <input class="form-control" formControlName="phone_no" />
        </div>
    </div>
    <div class="form-group-row">
      <label class="col-md-3 col-form-label" for="{{ message }}">Możliwe uwagi:</label>
      <div class="col-md-9">
        <textarea class="form-control" rows="3" formControlName="message"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div>
        <button [disabled]="submitEnabled" type="submit" class="btn-primary">
          Wyślij
        </button>
      </div>
    </div>
  </form>
</div>
