<div class="container">
  <form [formGroup]="joinForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="fullname">Imię i nazwisko:</label>
        <div class="col-sm-8 col-md-9 col-lg-10">
          <input class="form-control" formControlName="applicantName" id="fullname"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="email">Email:</label>
          <div class="col-sm-8 col-md-9 col-lg-10">
            <input class="form-control" formControlName="applicantEmail" id="email"/>
          </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="phone">Telefon:</label>
          <div class="col-sm-8 col-md-9 col-lg-10">
            <input class="form-control" formControlName="phoneNo" id="phone"/>
          </div>
      </div>
      <div>
        <label for="message">Możliwe uwagi:</label>
        <textarea type="text" class="form-control" rows="3" id="message" placeholder="Dodatkowe informacje dla organizatora" formControlName="message"></textarea>
        <volontulo-form-error [fc]="joinForm.controls.message" [minLength]="10" [maxLength]="2000"></volontulo-form-error>
      </div>
      <div class="form-group row d-none">
        <label class="col-sm-4 col-md-3 col-lg-2 col-form-label">Bot trap</label>
        <div class="col-sm-8 col-md-9 col-lg-10">
          <input type="text" class="form-control" formControlName="honeyValue" />
        </div>
      </div>
      <div class="d-flex justify-content-center" style="padding: 10px">
        <button type="submit" name="submit" class="btn btn-primary" [disabled]="joinForm.invalid">
          Zgłaszam się do pomocy
        </button>
      </div>
  </form>
</div>

